[default]
num_workers = 1
batch_size = 128
test_batch_size = 128
epochs = 100
lr = 0.001
lr_cl = 0.01
momentum = 0.9
no_cuda = False
seed = 1
log_interval = 1000
ind_id = 1
exp_id = default
cl_to_find_size = 4
clust = 5
dataset = MNIST
full_clust = False
batch_period = 2
noise = 0
harddecision = True
pretrain = False
pretrain_cae = False
decision_clu = DE

modeltype = cnn

avpool = False

debn = True
denblayers = 4
deker = 3
dechan = 8
demaxpoolsize = 2
demaxpoolsize_out = 2
dedrop = False
denb_denselayers = 1
desize_denselayers = 2

conv_activation = ReLU
dense_activation = ReLU
