[default]
num_workers = 2
batch_size = 128
test_batch_size = 128
epochs = 200
lr = 0.001
momentum = 0.9
no_cuda = False
seed = 1
log_interval = 1000
model_id = 1
exp_id = default
permutate = False
write_img_ex = False
start_mode = scratch
init_path = None
dataset = MNIST

debug = False

debn = True
denblayers = 4
deker = 3
dechan = 8
demaxpoolsize = 2
demaxpoolsize_out = 2
dedrop = False
denb_denselayers = 1
desize_denselayers = 2

model = cnn
nb_lay_gnn = 5
chan_gnn = 8
res_con_gnn = False
batch_norm_gnn = False
max_pool_ker = 2
max_pool_pos = -1

note = None

crop_size_imagenet = 150
train_prop = 1
