[default]
num_workers = 1
batch_size = 128
test_batch_size = 128
epochs = 100
lr = 0.001
geom = False
momentum = 0.9
no_cuda = False
seed = 1
log_interval = 1000
model_id = 1
exp_id = default
permutate = False
write_img_ex = False
start_mode = scratch
init_path = None
dataset = MNIST

debug = False

debn = True
denblayers = 4
deker = 3
dechan = 8
demaxpoolsize = 2
demaxpoolsize_out = 2
dedrop = False
denb_denselayers = 1
desize_denselayers = 2
